
<div class="row">
  <div class="span12">
  <%= simple_form_for(@status, html: {class: "form-horizontal"}) do |f| %>
    <% if @status.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being posted:</h2>
          <ul>
            <% @status.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span9 post">
    <%= f.input_field :content, :as => :text, :placeholder => "Create your post", :cols => "110", :rows =>"5" %>
    <div class="span3">
      <%= f.submit :submit, :class=>"btn btn-success"%>
    </div>
  </div>
</div>
<% end %>
